<p id="notice"><%= notice %></p>

<%= @lesson.description %>
<br>
<br>

<%= @lesson.question %>
<br>

<%= form_tag check_lesson_path(@lesson) do |f| %>
  <div>
    <%= label_tag :answer, "Podaj odpowiedź" %>
    <br>
    <%= text_field_tag :answer, "", :required => true %>
  </div>

  <div class="actions">
    <%= submit_tag "Sprawdź odpowiedź" %>
  </div>
<% end %>

<% if @lesson.answer_given? %>
  Twoja odpowiedź to: <%= @lesson.answer_given %>

  <br>

  <% if @lesson.answer_correct? %>
    Jest prawidłowa.
  <% else %>
    Nie jest prawidłowa.
  <% end %>
<% end %>

<br><br>

<%= link_to 'Powrót', lessons_path %>
